{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Audi</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos libero itaque quaerat voluptatibus
            labore aliquam error atque quam, enim, temporibus quisquam fuga illo ipsa laboriosam voluptate? Quod magni
            iusto vel.</p>
    </div>

    <div class="col-4">
        <img src="assets/img/logo.png" alt="" class="img-thumbnail">
    </div>
</div>